services:
  # PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - ".env"
    networks:
      - events_face_network

  # Django application
  events_face:
      build: .
      ports:
        - "${APP_PORT:-8000}:8000"
      command: [ "/entrypoint.sh" ]
      depends_on:
        postgres:
          condition: service_healthy
#        redis:
#          condition: service_healthy
      env_file:
        - ".env"
      networks:
        - events_face_network

  # Redis cache
  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT:-6379}:6378"
#    expose:
#      - "6379"
    volumes:
      - /app/redis_data
    healthcheck:
        test: [ "CMD", "redis-cli", "ping" ]
        interval: 10s
        timeout: 5s
        retries: 5
    env_file:
        - ".env"
    networks:
      - events_face_network


volumes:
  postgres_data:

networks:
  events_face_network:
    driver: bridge